{
    "openapi": "3.0.0",
    "info": {
        "title": "LeyInvest API Documentation",
        "description": "Documentation complète de l'API LeyInvest. Cette API permet la gestion des utilisateurs, des actions suivies (follow/unfollow), ainsi que des opérations financières automatisées (take profit, stop loss).",
        "contact": {
            "name": "API Support",
            "email": "tiafranck@leycom.ci"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Serveur principal de l'API LeyInvest"
        }
    ],
    "paths": {
        "/api/v1/actions": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "summary": "Lister toutes les actions avec statut de suivi",
                "description": "Retourne toutes les actions et indique si l'utilisateur authentifié les suit. Cette route nécessite une authentification.",
                "operationId": "getAllActions",
                "responses": {
                    "200": {
                        "description": "Liste des actions récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ActionResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/actions/analyze": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "summary": "Analyser les actions par secteur",
                "description": "Retourne la liste des secteurs ainsi que leurs actions associées.",
                "operationId": "analyzeActions",
                "responses": {
                    "200": {
                        "description": "Listes des actions par secteur récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Listes des actions par secteur récupérée avec succes"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SectorWithActionsResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/actions/analyze/{actionKey}": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "summary": "Afficher les détails complet d’une action avec les indicateurs boursiers",
                "description": "Retourne toutes les métriques d’une, incluant la valeur brute, les statistiques sectorielles et les statistiques BRVM.",
                "operationId": "showAction",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Clé unique de l'action  identifiant logique).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails d’une actiion retournés avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "key": {
                                            "type": "string",
                                            "example": "roa"
                                        },
                                        "metrics": {
                                            "description": "Liste des indicateurs formatés",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "action non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Indicateur introuvable."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/actions/historique/{actionKey}": {
            "get": {
                "tags": [
                    "Actions"
                ],
                "summary": "Historique des cours d'une action",
                "description": "Retourne l’évolution historique des cours d’une action. À intégrer avec les données réelles de ton provider.",
                "operationId": "historiqueAction",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "key de l'action",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "act_abc123def"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Historique récupéré avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Historique des cours récupéré avec succès"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "historique des cours pour l'action BOA"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Action introuvable"
                    },
                    "401": {
                        "description": "Non authentifié"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/actions/forecasts": {
            "get": {
                "tags": [
                    "Actions",
                    "Forecasts"
                ],
                "summary": "Lister les actions avec prévisions",
                "description": "Retourne une liste paginée des actions financières avec leurs données de prévision.",
                "operationId": "listActionForecasts",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des actions avec prévisions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ActionForecastResource"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/maintenance/cleanup-incomplete-registrations": {
            "post": {
                "tags": [
                    "Admin - Maintenance"
                ],
                "summary": "Nettoyage des inscriptions incomplètes",
                "description": "Cette route permet à un administrateur d'exécuter ou de simuler (dry-run) le nettoyage des inscriptions incomplètes via l'appel de la commande Artisan `registrations:cleanup`.",
                "operationId": "cleanupIncompleteRegistrations",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "dry_run": {
                                        "description": "Exécute la commande en mode simulation sans supprimer de données.",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "hours": {
                                        "description": "Âge maximal (en heures) des inscriptions incomplètes à nettoyer. Par défaut : 24 heures.",
                                        "type": "integer",
                                        "maximum": 168,
                                        "minimum": 1,
                                        "example": 48
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nettoyage exécuté ou simulé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "dry_run": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "hours_threshold": {
                                            "type": "integer",
                                            "example": 48
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Simulation du nettoyage terminée. Aucune donnée n’a été supprimée."
                                        },
                                        "artisan_output": {
                                            "type": "string",
                                            "example": "✔️ 3 inscriptions incomplètes détectées (mode simulation)"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Requête invalide (erreur de validation).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "hours": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The hours field must be between 1 and 168."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié — jeton Sanctum manquant ou invalide.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur ou problème lors de l'exécution de la commande Artisan.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur lors de l’exécution de la commande."
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Command not found: registrations:cleanup"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Étape 1 - Inscription : Nom, Prénom, Email",
                "operationId": "94295b317b204c7864e9140c86be0c90",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "prenom",
                                    "email"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "prenom": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscription initiée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inscription initiée. Un code de vérification a été envoyé à votre email."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/StepOneAuthResource"
                                                },
                                                "next_step": {
                                                    "type": "string",
                                                    "example": "verify_otp"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Vérifier le code OTP d'inscription",
                "operationId": "9ee61b859bcd49bb5debc5f657194d85",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP vérifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email vérifié avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/StepOneAuthResource"
                                                },
                                                "next_step": {
                                                    "type": "string",
                                                    "example": "registration_on_progress"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/complete-profile": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Étape 2 - Compléter l'inscription",
                "operationId": "001039047d5b6c8c92328829c56916a6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "country_id",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "age": {
                                        "type": "integer",
                                        "example": 30,
                                        "nullable": true
                                    },
                                    "genre": {
                                        "type": "string",
                                        "example": "Masculin",
                                        "nullable": true
                                    },
                                    "situation_professionnelle": {
                                        "type": "string",
                                        "example": "Salarié",
                                        "nullable": true
                                    },
                                    "numero": {
                                        "type": "string",
                                        "example": "+2250707070707",
                                        "nullable": true
                                    },
                                    "whatsapp": {
                                        "type": "string",
                                        "example": "+2250707070707",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscription complétée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inscription complétée avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Connexion utilisateur",
                "operationId": "a7997e7c1e3bfed64d4e56de82415931",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Connexion réussie."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|eyJhbGciOi..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    }
                }
            }
        },
        "/api/v1/auth/refresh-token": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Rafraîchir un access token",
                "description": "Permet de rafraîchir un access token expiré en utilisant le refresh token. Le refresh token doit être valide et non expiré.",
                "operationId": "refreshToken",
                "requestBody": {
                    "description": "Le refresh token reçu lors de la connexion",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "description": "Le refresh token sécurisé reçu lors de la connexion initiale",
                                        "type": "string",
                                        "example": "4fdc9a77ef61c91eabcd1234567890abcdef1234567890abcdef1234567890ab"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token rafraîchi avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token rafraîchi avec succès"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 3
                                                        },
                                                        "nom": {
                                                            "type": "string",
                                                            "example": "Kouassi"
                                                        },
                                                        "prenoms": {
                                                            "type": "string",
                                                            "example": "Eren"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "eren@example.com"
                                                        },
                                                        "numero": {
                                                            "type": "string",
                                                            "example": "+2250700000000"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "access_token": {
                                                    "type": "string",
                                                    "example": "1|asJd82Ds8f...Uq"
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "example": "4fdc9a77ef61c91eabcd1234567890abcdef1234567890abcdef1234567890ab"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "expires_in": {
                                                    "description": "Durée de vie de l'access token en secondes",
                                                    "type": "integer",
                                                    "example": 900
                                                },
                                                "refresh_expires_in": {
                                                    "description": "Durée de vie du refresh token en secondes",
                                                    "type": "integer",
                                                    "example": 604800
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Échec du rafraîchissement du token (token invalide ou utilisateur introuvable)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Échec du rafraîchissement du token"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation (refresh_token manquant ou invalide)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur de validation"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/resend-code": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Renvoie le code OTP pour vérification",
                "description": "Renvoyer un code OTP pour un utilisateur non encore vérifié ou inscrit",
                "operationId": "7846817b856519431da3cc111ea37a49",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResendOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP renvoyé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le code OTP a été renvoyé sur votre email."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation (compte déjà vérifié ou email inexistant)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Ce compte est déjà vérifié et complété."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Demander la réinitialisation du mot de passe",
                "operationId": "258f8322e6e587094f858db597dee996",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email de réinitialisation envoyé"
                    }
                }
            }
        },
        "/api/v1/auth/verify-reset-otp": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Vérifier le code OTP pour la réinitialisation du mot de passe",
                "description": "Permet de vérifier le code OTP envoyé à l'adresse e-mail de l'utilisateur avant la réinitialisation du mot de passe.",
                "operationId": "5f5855d8b37e83cec975f7df4d893cc6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP vérifié avec succès. L'utilisateur peut maintenant réinitialiser son mot de passe.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OTP de réinitialisation vérifié avec succès. Vous pouvez maintenant réinitialiser votre mot de passe."
                                        },
                                        "data": {
                                            "properties": {
                                                "next_step": {
                                                    "type": "string",
                                                    "example": "reset_password"
                                                },
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Code OTP invalide ou expiré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Le code OTP fourni est invalide ou a expiré."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation (email ou otp manquant / invalide)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "L'adresse e-mail est obligatoire."
                                                    }
                                                },
                                                "otp": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le code OTP doit contenir 6 chiffres."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Réinitialiser le mot de passe via OTP",
                "description": "Permet à un utilisateur de réinitialiser son mot de passe après vérification du code OTP envoyé par email.",
                "operationId": "1032a68842312eda819d0b4888495d2b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mot de passe réinitialisé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mot de passe réinitialisé avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OTP invalide ou expiré.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Code OTP invalide ou expiré."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation des champs.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Les données fournies sont invalides."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "L'adresse email est obligatoire."
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le mot de passe doit contenir au moins 8 caractères."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Déconnexion de l'utilisateur courant",
                "operationId": "f6b8957b4c0b25636613a9f0512a8ba9",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/logout-all": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Déconnexion de tous les appareils",
                "operationId": "621f1d35fd68b2b119a1af7985828ca8",
                "responses": {
                    "200": {
                        "description": "Tous les appareils déconnectés avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/user/me": {
            "get": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Obtenir les informations de l'utilisateur connecté",
                "operationId": "3c935c69db214e28ff6318ec48bc555f",
                "responses": {
                    "200": {
                        "description": "Utilisateur connecté",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Supprimer le compte utilisateur authentifié",
                "description": "Cette route permet à un utilisateur connecté de supprimer définitivement son compte et toutes les données associées. L’utilisateur doit être authentifié via un token Bearer.",
                "operationId": "deleteUserAccount",
                "responses": {
                    "200": {
                        "description": "Compte utilisateur supprimé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Compte utilisateur supprimé avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé — Token manquant ou invalide",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "unauthorized"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Non autorisé."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "server_error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Une erreur est survenue lors de la suppression du compte."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/change-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Changer le mot de passe",
                "description": "L'utilisateur peut changer son mot de passe en fournissant l'ancien et le nouveau",
                "operationId": "f83da601e5c46325635cedf21eb6be3d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mot de passe modifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le mot de passe a été modifié avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "current_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le mot de passe actuel est incorrect."
                                                    }
                                                },
                                                "new_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le nouveau mot de passe doit être différent de l'ancien."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/profile/update": {
            "patch": {
                "tags": [
                    "Profil"
                ],
                "summary": "Mettre à jour le profil de l'utilisateur",
                "description": "Permet à un utilisateur authentifié de mettre à jour les informations de son profil.",
                "operationId": "333d328c8fcf8a16c70f795c947d6d76",
                "requestBody": {
                    "description": "Champs facultatifs du profil utilisateur",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Kouadio"
                                    },
                                    "prenom": {
                                        "type": "string",
                                        "example": "Jean"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 225
                                    },
                                    "numero": {
                                        "type": "string",
                                        "example": "+22507000000"
                                    },
                                    "whatsaap": {
                                        "type": "string",
                                        "example": "+22507000000"
                                    },
                                    "age": {
                                        "type": "integer",
                                        "example": 29
                                    },
                                    "situation_professionnelle": {
                                        "type": "string",
                                        "example": "Développeur Laravel"
                                    },
                                    "avatar": {
                                        "description": "Image du profil (max 2MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profil mis à jour avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié ou token invalide"
                    },
                    "422": {
                        "description": "Erreur de validation des champs"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/indicators": {
            "get": {
                "tags": [
                    "Indicators"
                ],
                "summary": "Lister tous les indicateurs financiers",
                "description": "Retourne la liste complète des indicateurs disponibles dans le système.",
                "operationId": "getIndicator",
                "responses": {
                    "200": {
                        "description": "Liste des indicateurs récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BocIndicatorResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur interne du serveur."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/countries": {
            "get": {
                "tags": [
                    "Pays de l'UEMOA"
                ],
                "summary": "Liste des pays de L'UEMOA",
                "description": "Retourne la liste de tous les pays de l'UEMOA",
                "operationId": "getCountryList",
                "responses": {
                    "200": {
                        "description": "Opération réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nom": {
                                                        "type": "string",
                                                        "example": "Côte d'Ivoire"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "cote-d-ivoire"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Une erreur est survenue"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/financial-news": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Lister les actualités financières",
                "description": "Récupère une liste paginée d'actualités financières avec filtres, tri et recherche globale.",
                "operationId": "ba81563efa0230b1c899d1bcf6c76d17",
                "parameters": [
                    {
                        "name": "source",
                        "in": "query",
                        "description": "Filtrer par source (ex: BRVM, AMF, ECOBANK)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "BRVM"
                        }
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "description": "Filtrer par nom de société (recherche partielle)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "SONATEL"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Date minimale de publication (format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-01-01"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Date maximale de publication (format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-12-31"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche globale dans le titre ou le nom de société",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "dividende"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Champ utilisé pour le tri des résultats",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "published_at",
                                "created_at",
                                "title",
                                "company"
                            ],
                            "example": "published_at"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "Ordre du tri",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "example": "desc"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page (défaut: 20, max: 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FinancialNews"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 200
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "links": {
                                            "properties": {
                                                "first": {
                                                    "type": "string",
                                                    "example": "https://api.leyinvest.ci/api/v1/financial-news?page=1"
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "example": "https://api.leyinvest.ci/api/v1/financial-news?page=10"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "example": "https://api.leyinvest.ci/api/v1/financial-news?page=2",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Paramètres de requête invalides"
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                }
            }
        },
        "/api/v1/financial-news/{financialNews}": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Détails d'une actualité financière via key",
                "description": "Récupère les détails d'une actualité spécifique via la key",
                "operationId": "6ee0f58e96ee20523aeefda16143ad17",
                "parameters": [
                    {
                        "name": "financialNews",
                        "in": "path",
                        "description": "key de l'actualité",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Actualité récupérée avec succès"
                    },
                    "404": {
                        "description": "Actualité non trouvée"
                    }
                }
            }
        },
        "/api/v1/financial-news/recent": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Actualités récentes",
                "description": "Récupère les actualités des X derniers jours. Paramètres de requête : days (int, défaut 7), per_page.",
                "operationId": "da9c66bb327897c94b11e98a040f70ef",
                "responses": {
                    "200": {
                        "description": "Actualités récentes récupérées avec succès"
                    }
                }
            }
        },
        "/api/v1/financial-news/sources": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Liste des sources",
                "description": "Récupère la liste de toutes les sources d'actualités uniques",
                "operationId": "b454811d9bec7e81277961327611d4eb",
                "responses": {
                    "200": {
                        "description": "Sources récupérées avec succès"
                    }
                }
            }
        },
        "/api/v1/financial-news/companies": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Liste des sociétés (actions)",
                "description": "Récupère la liste de toutes les sociétés ayant des actualités (pour autocomplétion)",
                "operationId": "e9324090142a76be9cec05782ee82dca",
                "responses": {
                    "200": {
                        "description": "Sociétés récupérées avec succès"
                    }
                }
            }
        },
        "/api/v1/financial-news/statistics": {
            "get": {
                "tags": [
                    "Financial News"
                ],
                "summary": "Statistiques du flux",
                "description": "Récupère des statistiques agrégées (totaux, par source, récentes) pour les dashboards.",
                "operationId": "7c84d150b645f7a06137ce4d976b37b6",
                "responses": {
                    "200": {
                        "description": "Statistiques récupérées avec succès"
                    }
                }
            }
        },
        "/api/v1/flops": {
            "get": {
                "tags": [
                    "Flops"
                ],
                "summary": "Récupérer la liste des actions en baisse",
                "description": "Retourne les 5 actions ayant les plus fortes baisses enregistrées pour la journée en cours.",
                "operationId": "getFlopsList",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TopFlop"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/google/login": {
            "get": {
                "tags": [
                    "Google Authentication"
                ],
                "summary": "Initier la connexion Google",
                "description": "Retourne l'URL d'authentification Google à laquelle le frontend doit rediriger l'utilisateur.",
                "operationId": "95c1f22694e7b8fac149e51bea1d5659",
                "responses": {
                    "200": {
                        "description": "URL générée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "example": "https://accounts.google.com/o/oauth2/auth?..."
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Redirect to this URL for Google authentication"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur lors de la génération de l'URL Google",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "google_login_failed"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Impossible de générer l'URL d'authentification Google"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/google/callback": {
            "get": {
                "tags": [
                    "Google Authentication"
                ],
                "summary": "Callback Google OAuth",
                "description": "Endpoint appelé par Google après autorisation OAuth. Gère la création/connexion de l'utilisateur et retourne un token Sanctum.",
                "operationId": "d2eec3ee3195732a28b7865a1972702b",
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Code d'autorisation OAuth renvoyé par Google",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "4/0AbCdeF..."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connexion Google réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|YvX9aT7X..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "redirect_url": {
                                            "type": "string",
                                            "example": "https://frontend.com/dashboard?token=1|YvX9aT7X..."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@gmail.com"
                                                },
                                                "nom": {
                                                    "type": "string",
                                                    "example": "Kouadio"
                                                },
                                                "prenom": {
                                                    "type": "string",
                                                    "example": "Yao"
                                                },
                                                "email_verified": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "https://lh3.googleusercontent.com/photo.jpg"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Code d'autorisation manquant ou session expirée",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "missing_code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Code d'autorisation manquant"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne Google OAuth",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "google_auth_failed"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Erreur lors du traitement du callback Google"
                                        }
                                    },
[...]
