{
    "openapi": "3.0.0",
    "info": {
        "title": "LeyInvest API Documentation",
        "description": "API Documentation",
        "contact": {
            "email": "admin@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/actions": {
            "get": {
                "tags": [
                    "Actions Boursières"
                ],
                "summary": "Liste des actions",
                "description": "Retourne la liste de toutes les actions boursières disponibles",
                "operationId": "getActionsList",
                "responses": {
                    "200": {
                        "description": "Opération réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "ORGT_CI"
                                                    },
                                                    "symbole": {
                                                        "type": "string",
                                                        "example": "ORGT"
                                                    },
                                                    "nom": {
                                                        "type": "string",
                                                        "example": "Orange Côte d'Ivoire"
                                                    },
                                                    "volume": {
                                                        "type": "string",
                                                        "example": "125000"
                                                    },
                                                    "cours_veille": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 2500
                                                    },
                                                    "cours_ouverture": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 2520
                                                    },
                                                    "cours_cloture": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 2550
                                                    },
                                                    "variation": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 2
                                                    },
                                                    "categorie": {
                                                        "type": "string",
                                                        "example": "Technologie",
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 10:30:00"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 16:45:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Une erreur est survenue"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Étape 1 - Inscription : Nom, Prénom, Email",
                "operationId": "94295b317b204c7864e9140c86be0c90",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "prenoms",
                                    "email"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "prenoms": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscription initiée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inscription initiée. Un code de vérification a été envoyé à votre email."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/StepOneAuthResource"
                                                },
                                                "next_step": {
                                                    "type": "string",
                                                    "example": "verify_otp"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Vérifier le code OTP d'inscription",
                "operationId": "9ee61b859bcd49bb5debc5f657194d85",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP vérifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email vérifié avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/StepOneAuthResource"
                                                },
                                                "next_step": {
                                                    "type": "string",
                                                    "example": "registration_on_progress"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/complete-profile": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Étape 2 - Compléter l'inscription",
                "operationId": "001039047d5b6c8c92328829c56916a6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "country_id",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "age": {
                                        "type": "integer",
                                        "example": 30,
                                        "nullable": true
                                    },
                                    "genre": {
                                        "type": "string",
                                        "example": "Masculin",
                                        "nullable": true
                                    },
                                    "situation_professionnelle": {
                                        "type": "string",
                                        "example": "Salarié",
                                        "nullable": true
                                    },
                                    "numero": {
                                        "type": "string",
                                        "example": "+2250707070707",
                                        "nullable": true
                                    },
                                    "whatsapp": {
                                        "type": "string",
                                        "example": "+2250707070707",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscription complétée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Inscription complétée avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Connexion utilisateur",
                "operationId": "a7997e7c1e3bfed64d4e56de82415931",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Connexion réussie."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|eyJhbGciOi..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Identifiants invalides"
                    }
                }
            }
        },
        "/api/v1/auth/resend-code": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Renvoie le code OTP pour vérification",
                "description": "Renvoyer un code OTP pour un utilisateur non encore vérifié ou inscrit",
                "operationId": "7846817b856519431da3cc111ea37a49",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResendOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP renvoyé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le code OTP a été renvoyé sur votre email."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation (compte déjà vérifié ou email inexistant)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Ce compte est déjà vérifié et complété."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Demander la réinitialisation du mot de passe",
                "operationId": "258f8322e6e587094f858db597dee996",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email de réinitialisation envoyé"
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Réinitialiser le mot de passe via OTP",
                "operationId": "1032a68842312eda819d0b4888495d2b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mot de passe réinitialisé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mot de passe réinitialisé avec succès."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Déconnexion de l'utilisateur courant",
                "operationId": "f6b8957b4c0b25636613a9f0512a8ba9",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/logout-all": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Déconnexion de tous les appareils",
                "operationId": "621f1d35fd68b2b119a1af7985828ca8",
                "responses": {
                    "200": {
                        "description": "Tous les appareils déconnectés avec succès"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/user": {
            "get": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Obtenir les informations de l'utilisateur connecté",
                "operationId": "8da19d20faaa3c751514549040698f0d",
                "responses": {
                    "200": {
                        "description": "Utilisateur connecté",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/AuthUserResource"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/auth/change-password": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Changer le mot de passe",
                "description": "L'utilisateur peut changer son mot de passe en fournissant l'ancien et le nouveau",
                "operationId": "f83da601e5c46325635cedf21eb6be3d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mot de passe modifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le mot de passe a été modifié avec succès."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "properties": {
                                                "current_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le mot de passe actuel est incorrect."
                                                    }
                                                },
                                                "new_password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Le nouveau mot de passe doit être différent de l'ancien."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/countries": {
            "get": {
                "tags": [
                    "Pays de l'UEMOA"
                ],
                "summary": "Liste des pays de L'UEMOA",
                "description": "Retourne la liste de tous les pays de l'UEMOA",
                "operationId": "getCountryList",
                "responses": {
                    "200": {
                        "description": "Opération réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nom": {
                                                        "type": "string",
                                                        "example": "Côte d'Ivoire"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "cote-d-ivoire"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Une erreur est survenue"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/flops": {
            "get": {
                "tags": [
                    "Flops"
                ],
                "summary": "Liste des flops",
                "description": "Retourne la liste des actions avec les plus fortes baisses",
                "operationId": "getFlopsList",
                "responses": {
                    "200": {
                        "description": "Opération réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "SICC_CI"
                                                    },
                                                    "symbole": {
                                                        "type": "string",
                                                        "example": "SICC"
                                                    },
                                                    "cours": {
                                                        "type": "string",
                                                        "example": "3 600"
                                                    },
                                                    "variation": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": -7.46
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 10:30:00"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 16:45:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/tops": {
            "get": {
                "tags": [
                    "Tops"
                ],
                "summary": "Liste des tops",
                "description": "Retourne la liste des actions avec les plus fortes hausses (Top 5 des meilleures performances)",
                "operationId": "getTopsList",
                "responses": {
                    "200": {
                        "description": "Opération réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "SICC_CI"
                                                    },
                                                    "symbole": {
                                                        "type": "string",
                                                        "example": "SICC"
                                                    },
                                                    "cours": {
                                                        "type": "string",
                                                        "example": "6 007"
                                                    },
                                                    "variation": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 7.46
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 10:30:00"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "datetime",
                                                        "example": "2024-01-15 16:45:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ChangePasswordRequest": {
                "required": [
                    "current_password",
                    "new_password",
                    "new_password_confirmation"
                ],
                "properties": {
                    "current_password": {
                        "description": "Mot de passe actuel",
                        "type": "string",
                        "format": "password",
                        "example": "oldPassword123"
                    },
                    "new_password": {
                        "description": "Nouveau mot de passe",
                        "type": "string",
                        "format": "password",
                        "example": "newPassword123"
                    },
                    "new_password_confirmation": {
                        "description": "Confirmation du nouveau mot de passe",
                        "type": "string",
                        "format": "password",
                        "example": "newPassword123"
                    }
                },
                "type": "object"
            },
            "LoginRequest": {
                "title": "Login Request",
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "example": "password123"
                    }
                },
                "type": "object"
            },
            "ResendOtpRequest": {
                "required": [
                    "email"
                ],
                "properties": {
                    "email": {
                        "description": "Email de l'utilisateur pour renvoyer le code OTP",
                        "type": "string",
                        "format": "email",
                        "example": "jean@example.com"
                    }
                },
                "type": "object"
            },
            "StoreSaleRequest": {
                "title": "Requête de création de vente",
                "description": "Données nécessaires pour créer une vente",
                "required": [
                    "action_id",
                    "quantite",
                    "prix_par_action"
                ],
                "properties": {
                    "action_id": {
                        "description": "Identifiant de l'action que l'utilisateur souhaite vendre",
                        "type": "integer",
                        "example": 1
                    },
                    "quantite": {
                        "description": "Quantité d'actions à vendre",
                        "type": "integer",
                        "example": 10
                    },
                    "prix_par_action": {
                        "description": "Prix unitaire de l'action",
                        "type": "number",
                        "format": "float",
                        "example": 2500.75
                    },
                    "montant_vente": {
                        "description": "Montant total de la vente",
                        "type": "number",
                        "format": "float",
                        "example": 25007.5
                    },
                    "comment": {
                        "type": "string",
                        "maxLength": 1000,
                        "example": "Vente partielle pour ajustement de portefeuille"
                    }
                },
                "type": "object"
            },
            "AuthUserResource": {
                "title": "Utilisateur Authentifié",
                "description": "Représente un utilisateur connecté et nouvellement inscrit",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nom": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "prenoms": {
                        "type": "string",
                        "example": "John"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                    },
                    "country": {
                        "type": "string",
                        "example": "Côte d'Ivoire",
                        "nullable": true
                    },
                    "age": {
                        "type": "integer",
                        "example": 30,
                        "nullable": true
                    },
                    "genre": {
                        "type": "string",
                        "example": "Masculin",
                        "nullable": true
                    },
                    "situation_professionnelle": {
                        "type": "string",
                        "example": "Salarié",
                        "nullable": true
                    },
                    "numero": {
                        "type": "string",
                        "example": "+2250707070707",
                        "nullable": true
                    },
                    "whatsapp": {
                        "type": "string",
                        "example": "+2250707070707",
                        "nullable": true
                    },
                    "email_verified": {
                        "type": "boolean",
                        "example": true
                    },
                    "registration_completed": {
                        "type": "boolean",
                        "example": true
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T12:45:00Z",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T12:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T12:45:00Z"
                    }
                },
                "type": "object"
            },
            "SaleResource": {
                "title": "Ressource Vente",
                "description": "Représentation d'une vente d'actions",
                "properties": {
                    "id": {
                        "description": "Identifiant unique de la vente",
                        "type": "integer",
                        "example": 1
                    },
                    "key": {
                        "description": "Clé unique de la vente",
                        "type": "string",
                        "example": "SLE-98237AHS"
                    },
                    "wallet": {
                        "description": "Informations du portefeuille associé",
                        "properties": {
                            "id": {
                                "description": "Identifiant du portefeuille",
                                "type": "integer",
                                "example": 5
                            },
                            "key": {
                                "description": "Clé unique du portefeuille",
                                "type": "string",
                                "example": "WALLET-5489XYZ"
                            }
                        },
                        "type": "object"
                    },
                    "user": {
                        "description": "Informations de l'utilisateur ayant effectué la vente",
                        "properties": {
                            "id": {
                                "description": "Identifiant de l'utilisateur",
                                "type": "integer",
                                "example": 10
                            },
                            "nom": {
                                "description": "Nom de l'utilisateur",
                                "type": "string",
                                "example": "Doe"
                            },
                            "prenoms": {
                                "description": "Prénoms de l'utilisateur",
                                "type": "string",
                                "example": "John"
                            },
                            "email": {
                                "description": "Adresse e-mail de l'utilisateur",
                                "type": "string",
                                "example": "john.doe@example.com"
                            }
                        },
                        "type": "object"
                    },
                    "quantite": {
                        "description": "Quantité d'actions vendues",
                        "type": "integer",
                        "example": 50
                    },
                    "prix_par_action": {
                        "description": "Prix unitaire de chaque action",
                        "type": "number",
                        "format": "float",
                        "example": 1500.25
                    },
                    "montant_vente": {
                        "description": "Montant total de la vente",
                        "type": "number",
                        "format": "float",
                        "example": 75012.5
                    },
                    "montant_vente_formatted": {
                        "description": "Montant formaté pour affichage",
                        "type": "string",
                        "example": "75 012,50 F CFA"
                    },
                    "comment": {
                        "description": "Commentaire optionnel sur la vente",
                        "type": "string",
                        "example": "Vente partielle du portefeuille",
                        "nullable": true
                    },
                    "created_at": {
                        "description": "Date de création de la vente",
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T09:45:00Z"
                    },
                    "updated_at": {
                        "description": "Date de dernière mise à jour",
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T09:46:00Z"
                    }
                },
                "type": "object"
            },
            "StepOneAuthResource": {
                "title": "Utilisateur En Première Étape d'inscription",
                "description": "Représente un utilisateur ayant complété la première étape de l'inscription",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nom": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "prenoms": {
                        "type": "string",
                        "example": "John"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john.doe@example.com"
                    },
                    "email_verified": {
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T12:45:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-10-18T12:45:00Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentification",
            "description": "Endpoints de gestion de l'inscription, connexion, OTP, mot de passe et profil utilisateur"
        },
        {
            "name": "Actions Boursières",
            "description": "Actions Boursières"
        },
        {
            "name": "Pays de l'UEMOA",
            "description": "Pays de l'UEMOA"
        },
        {
            "name": "Flops",
            "description": "Flops"
        },
        {
            "name": "Tops",
            "description": "Tops"
        }
    ]
}